
<div class="container" style="padding-top: 0px; margin-top: 0px;">

<div class="col-sm-4" >
        
        <div class="row1">
        <h2>  Experience Electron
                
                </h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1z1sGOqkZrAiE3vc7d6yGK_7Y9IJGvwQngM2enPKffN3EErKd" alt="screenpatti" style="width: 150px;height:150px;">
        <p> Whether you’re using a Mac or Windows, Desktop Beta gives you a simplified experience with more space for what matters—your code.  </p>
        </div>
    </div>
   

    <div class="col-sm-4" >
        <div class="row2">
        <h2> Streamline your workflow 
                
                </h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReBasoR_xxcCrgJMtc8hm6mwfqHrjWl6mkOw-OSkyCfxXHoURSUg" alt="girliyapa" style="width: 150px;height:150px;">
        <p>  Create branches, collaborate with other developers, and commit changes without touching the command line.  </p>
        </div>
    </div>


        <div class="col-sm-4" >
        <div class="row3">
        <h2> Make it your own </h2>
        <img src="http://images.all-free-download.com/images/wallpapers_large/make_it_your_own_wallpaper_miscellaneous_other_wallpaper_2094.jpg" alt="fundacurry" style="width: 150px;height:150px;" >
        <p> Every pixel is completely open source. Build the features you need, and be a part of future GitHub Desktop releases.  </p>
        </div>
    </div>
</div>